<h3>Please Wait...</h3>
Attempting to convert <span class='code'><%= @mine %></span>
<%= form_for :url, url: api_v1_new_path(@url), method: :post, :html => {:id => 'secret_form'} do |f| %>
  <%=f.hidden_field :long_url, class: 'form-control', value: @mine %>
  <%= submit_tag "", :style => "display: none;" %>
<% end %>

<script>
  document.getElementById("secret_form").submit();
</script>

